<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Weather</div>
<ul th:object="${weather}">
    <li>Date: <span th:text="*{date}"/></li>
    <li>Temperature: <span th:text="*{temperature}"/></li>
</ul>
</body>
</html>